button {
  background-color: var(--color-accent);
  border-radius: 8px;
  color: white;
  border-style: hidden;
  padding: 8px 16px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.form-error {
  background-color: #fff9e6;
  border-radius: 4px;
  color: #665200;
  padding-inline: 8px;
}

.form-success {
  background-color: #e6ffe6;
  border-radius: 4px;
  color: #086600;
  padding-inline: 8px;
}

input {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  max-height: 40px;
  height: 38px;
  width: 100%;
  padding: 0 16px;
}

label {
  display: contents;
}

.form-lg {
  max-width: 370px;
}
